:root{
   --cafe-1: #7D6D6E;
   --cafe-2: #DCCFBC;
   --cafe-3: #957F71;
   --cafe-4: #744B39;
   --cafe-5: #362224;
   --cafe-6: #362C34;
   --cafe-7: #36231C;
   --bege: #E7E4D8;
   --preto: #252525;
}

a{
    color: #fafafa;
}

body{
    background: #fafafa;
    font-family: Georgia, serif;
}
h1{
    text-align: center;
    margin: 10px;
    font-size: 30px;
    color: #252525;
    padding: 10px;
    font-weight: bold;
}
/* -------- Header -------- */

.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background: var(--preto);
    z-index: 100;
    position: fixed;
}

.menu{
    display: inline-flex;
}

.menu li{
    margin: 10px;

}

.menu li a{
    display: block;
    padding: 0 20px;
    font-size: 30px;
    text-decoration: none;
}

.ani::after{
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}


.ani:hover:after{
    width: 100%;
}

/* -------- Intro -------- */

.intro{
    height: calc(80vh - 80px);
    background: url("/img/bg-intro.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;

}
.box-intro{
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0,0,0,1);
    backdrop-filter: blur(28px) brightness(0.9);
    align-items: center;
    color: #fafafa;
    font-size: 30px;
}

.texto-intro{
    font-size: 50px;
}


#logo-brafe-intro{
    max-width: 200%;
    display: block;
    transition: .3;
}

/* -------- Sections -------- */
section img{
    max-width: 100%;
}
section{
   
    flex-direction: column;
}
section h1{
    font-size: 40px;
}
/* -------- Sobre -------- */
.sobre{
}
.sobre > p{
    font-size: 22px;
    margin: 2% 10%;
    text-align: justify;
    font-style: oblique;
    line-height: 1.4;
}

.mistura-box{
    display: flex;
    justify-content: center;
}

.mistura-box > figure{
    margin: 10px;
}




/* -------- Produtos -------- */

.produtos{
    font-size: 20px;
    background: var(--bege);
    border-top: 3px solid #D6D3C8;
    border-bottom: 3px solid #D6D3C8;
    justify-content: center;
    align-content: center;
    display: flex;

}

.circulo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px var(--bege);
    display: inline-flex;
    box-sizing: border-box;
}


#c-paulista{
    background: #492901;
    border: 10px solid #492901;
    
}
#c-carioca{
    background: #C17139;
    border: 10px solid #C17139;
}
#c-mineiro{
    background: #D7A54D;
    border: 10px solid #D7A54D;
}

.linha{
    display: flex;
}
.coluna {
    flex: 33%;
    margin: 2%;
    padding: 1%;
    text-align: center;
}

/* -------- Lojas -------- */
.lojas{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
}
.lojas > div {
    flex: 1 1 300px;
    margin: 30px;
}

.lojas img{
    box-shadow: 0 0 32px rgba(0,0,0,1);

}

.box-loja{
    align-items: center;
    justify-content: center;
    display: flex;
}
.box-loja div{
    width: 50%;
    margin: 5%;
}

.box-loja p{
    font-size: 30px;
    color: var(--cafe-7);
    font-style: oblique;
}

.box-loja button{
    background: #fafafa;
    font-size: 30px;
    font-family: Georgia, serif;
    border: 5px solid;
    margin: 5%;
    padding: 5px;
}

.box-loja button:hover{
    background: black;
    color: #fafafa;
    transition: .8s;
    border: 5px solid black;
}
/* -------- Contato-------- */
.contatos{
    background: #E7E4D8;
    display: flex;
}
.box-contatos{
    display: flex;
    justify-content: center;
}
.assine{
    width: 50%;
    font-style: oblique;
    text-align: left;
    margin-left: 20%;
}
.assine p h1{

}

.assine p{
    font-size: 30px;;
}
.form {
    justify-content: center;
    width: 50%;

}


.contatos button{
    font-size: 30px;
    font-family: Georgia, serif;
    background: black;
    color: #fafafa;
    transition: .8s;
    border: 5px solid black;
    padding: 5px;

}

.contatos button:hover{
    background: #fafafa;
    border: 5px solid black;
    color: black;
}

.contatos input{
    border: 5px solid black;
    padding: 5px;
    background: transparent;
}



/* -------- Footer -------- */
footer{
    background-color: #D6D3C8;
    padding: 20px 0;
    height: auto;
}

footer p{
    color: #252525;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}